mixin socialButtons(className, socials)
  ul(class="social_#{className}")
    each item in socials
      li(class="social_#{className}__item")
        a(class="social_#{className}__link social_#{className}__link_#{item.class}"
          href=item.href target='_blank')= item.text

mixin navMenu(className, items, activeIndex)
    ul(class="#{className}__list")
      each item, index in items
        li(class="#{className}__item")
          a(href="#" class="#{className}__link" + ((activeIndex == index) ? " #{className}__link_active" : ''))= item

mixin checkbox(className, titles)
  ul(class=className)
    each item in titles
      li(class="#{className}__item")
        input(type="checkbox" id=item).checkbox-input
        label(for="#{item}").checkbox-label #{item}

mixin colorFilter(colors)
  ul.color
    each item in colors
      li.color__item
        a(href="#" class="color__link #{item}")
          span.color__text= item

mixin productItem(content)
  ul.table.product
    each item in content
      li.table.product__item
        .table.item__image.image
          .image__big
            img(src="#{item.images.image1}", alt="#{item.name}").image__big-pic
          ul.image__list
            each value, key in item.images
              li.image__item
                a(href="#").image__item-link
                  img(src="#{value}", alt="#{value}").image__item-pic
        .table.item__articul.articul
          span.articul__text Артикул
          span.articul__value #{item.articul}
        .table.item__name.name #{item.name}
        ul.table.item__charact.charact
          each value, key in item.charact
            if (value)
              li.charact__line
                span.line__text_left #{key}
                span.line__text_right #{value}
            else
              li.charact__line
        .table.item__ratio.ratio
          img(src="img/content/ratio-4.png", alt="ratio")
        .table.item__price.price
          span.price__value #{item.price}
          span.price__ruble p
        .table.item__presence.presence В наличии
        .table.item__info.info.
          #{item.info}
        button.table.item__addtobasket.addtobasket В корзину