mixin socialButtons(className, socials)
  ul(class="social_#{className}")
    each item in socials
      li(class="social_#{className}__item")
        a(class="social_#{className}__link social_#{className}__link_#{item.class}"
          href=item.href target='_blank')= item.text

mixin navMenu(className, items, activeIndex)
    ul(class="#{className}__list")
      each item, index in items
        li(class="#{className}__item")
          a(href="#" class="#{className}__link" + ((activeIndex == index) ? " #{className}__link_active" : ''))= item

mixin checkbox(className, titles)
  ul(class=className)
    each item in titles
      li(class="#{className}__item")
        input(type="checkbox" id=item).checkbox-input
        label(for="#{item}").checkbox-label #{item}

mixin colorFilter(colors)
  ul.color
    each item in colors
      li.color__item
        a(href="#" class="color__link #{item}")
          span.color__text= item
